<h1>Gymnasia#show</h1>
<p>Find me in app/views/gymnasia/show.html.erb</p>
<h2>Gym Timeslots</h2>
<h3 class="gymItem"><%= gym.name %> with <%= (gym.maxUsers - gym.currentUsers) %> spot(s) still available</h3>
<div>
  <% for i in 0..23 do
       timeslot = timeslots.find {|t| t.hour == i} %>
      <h5>
        Hour <%= i %>
      </h5>
      <% if timeslot.present? %>
          <%= form_tag("/reservation", method: "post") do %>
              <%= hidden_field_tag(:timeslot_id, timeslot.id) %>
              <%= submit_tag("Register") %>
          <% end %>
      <% else %>
              <% if gym.currentUsers < gym.maxUsers %>
                <%= form_tag("/reservation", method: "post") do %>
                <%= hidden_field_tag(:hour, i) %>
                <%= hidden_field_tag(:gymnasia_id, gym.id) %>
                  <%= submit_tag("Register") %>
              <% end %>
              <% else %>
                <p>Timeslot Full</p> 
              <% end %>
          <% end %>
      <% end %>
</div>